swagger: "2.0"
info:
  description: "Daycent source wrapped in Golang API"
  version: "1.0.0"
  title: "Teralytic Turducken"
host: "turducken.teralytic.com"
basePath: "/v1"
tags:
- name: "daycent"
  description: "handle daycent functions"
schemes:
- "https"
- "http"
paths:
  /daycent:
    post:
      tags:
      - "daycent"
      summary: "run daycent"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "Model Inputs"
        description: "the entire model json with the reqired inputs"
        schema:
          $ref: '#/definitions/DaycentInputs'
      responses:
        "405":
          description: "error handling input data"

  /daycent/getdefaults:
    get:
      tags:
      - "daycent"
      summary: "get default configuration options"
      produces:
      - "application/json"
      responses:
        "405":
          description: "error handling input data"


definitions:
  DaycentInputs:
      type: object
      properties:
          simualtion:
              type: object
              properties:
                  data100:
                      type: object
                      properties:
                          crop:
                              type: object
                              properties:
                                  prdx_1:
                                      description: "coefficient for calculating potential aboveground monthly production as a function of solar radiation outside the atmosphere"
                                      type: integer
                                  ppdf_1:
                                      description: "optimum temperature for production for parameterization of a Poisson Density Function curve to simulate temperature effect on growth"
                                      type: integer
                                  ppdf_2:
                                      description: "maximum temperature for production for parameterization of a Poisson Density Function curve to simulate temperature effect on growth"
                                      type: integer
                                  ppdf_3:
                                      description: "left curve shape for parameterization of a Poisson Density Function curve to simulate temperature effect on growth"
                                      type: integer
                                  ppdf_4:
                                      description: "right curve shape for parameterization of a Poisson Density Function curve to simulate temperature effect on growth"
                                      type: integer
                                  bioflg:
                                      description: "flag indicating whether production should be reduced by physical obstruction = 0 production should not be reduced = 1 production should be reduced = 1 gC/m2"
                                      type: integer
                                  biok5:
                                      description: "level of aboveground standing dead + 10% strucc1 C at which production is reduced to half maximum due to physical obstruction by the dead material, used only when bioflg = 1 gC/m2"
                                      type: integer
                                  pltmrf:
                                      description: "planting month reduction factor to limit seedling growth should be 1.0 for grass"
                                      type: integer
                                  fulcan:
                                      description: "value of aglivc at full canopy cover, above which potential production is not reduced"
                                      type: integer
                                  frtcindx:
                                      description: "plant growth type = 0 use Great Plains equation = 1 perennial plant = 2 annual plant = 3 perennial plant, growing degree day implementation, dynamic carbon allocation = 4 nongrain filling annual plant, growing degree day implementation, dynamic carbon allocation = 5 grain filling annual plant, growing degree day implementation, dynamic carbon allocation = 6 grain filling annual plant that requires a vernalization period i.e. winter wheat, growing degree day implementation, dynamic carbon allocation = 2, 4, 5 or 6 = 2, 4, 5 or 6 = 2, 4, 5 or 6 = 2, 4, 5 or 6 = 2, 4, 5 or 6 = 1 or 3 = 1 or 3 = 1 or 3 = 1 or 3"
                                      type: integer
                                  frtc_1:
                                      description: "fraction of C allocated to roots at planting, with no water or nutrient stress, used when frtcindx = 2, 4, 5 or 6"
                                      type: integer
                                  frtc_2:
                                      description: "fraction of C allocated to roots at time frtc3, with no water or nutrient stress, used when frtcindx = 2, 4, 5 or 6 value is reached, used when frtcindx = 2, 4, 5 or 6 frtc5 maximum increase in the fraction of C going to the roots due to nutrient stress, used when frtcindx = 2, 4, 5 or 6"
                                      type: integer
                                  frtc_3:
                                      description: "with no water or nutrient stress, used when frtcindx = 2, 4, 5 or 6 time after planting months with soil temperature greater than rtdtmp at which the frtc2 value is reached, used when frtcindx = 2, 4, 5 or 6"
                                      type: integer
                                  frtc_4:
                                      description: "maximum increase in the fraction of C going to the roots due to water stress, used when frtcindx = 2, 4, 5 or 6"
                                      type: integer
                                  frtc_5:
                                      description: "maximum increase in the fraction of C going to the roots due to nutrient stress, used when frtcindx = 2, 4, 5 or 6"
                                      type: integer
                                  cfrtcn_1:
                                      description: "maximum fraction of C allocated to roots under maximum nutrient stress, used when frtcindx = 1 or 3"
                                      type: integer
                                  cfrtcn_2:
                                      description: "minimum fraction of C allocated to roots with no nutrient stress, used when frtcindx = 1 or 3"
                                      type: integer
                                  cfrtcw_1:
                                      description: "maximum fraction of C allocated to roots under maximum water stress, used when frtcindx = 1 or 3"
                                      type: integer
                                  cfrtcw_2:
                                      description: "minimum fraction of C allocated to roots with no water stress, used when frtcindx = 1 or 3"
                                      type: integer
                                  biomax:
                                      description: "biomass level above which the minimum and maximum C/E ratios of the new shoot increments equal pramn*,2 and pramx*,2 respectively g biomass/m2"
                                      type: integer
                                  pramn_1_1:
                                      description: "minimum C/N ratio with zero biomass"
                                      type: integer
                                  pramn_2_1:
                                      description: "minimum C/P ratio with zero biomass"
                                      type: integer
                                  pramn_3_1:
                                      description: "minimum C/S ratio with zero biomass"
                                      type: integer
                                  pramn_1_2:
                                      description: "minimum C/N ratio with biomass greater than or equal to biomax"
                                      type: integer
                                  pramn_2_2:
                                      description: "minimum C/P ratio with biomass greater than or equal to biomax"
                                      type: integer
                                  pramn_3_2:
                                      description: "minimum C/S ratio with biomass greater than or equal to biomax"
                                      type: integer
                                  pramx_1_1:
                                      description: "maximum C/N ratio with zero biomass"
                                      type: integer
                                  pramx_2_1:
                                      description: "maximum C/P ratio with zero biomass"
                                      type: integer
                                  pramx_3_1:
                                      description: "maximum C/S ratio with zero biomass"
                                      type: integer
                                  pramx_1_2:
                                      description: "maximum C/N ratio with biomass greater than or equal to biomax"
                                      type: integer
                                  pramx_2_2:
                                      description: "maximum C/P ratio with biomass greater than or equal to biomax"
                                      type: integer
                                  pramx_3_2:
                                      description: "maximum C/S ratio with biomass greater than or equal to biomax"
                                      type: integer
                                  prbmn_1_1:
                                      description: "intercept parameter for computing minimum C/N ratio for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  prbmn_2_1:
                                      description: "intercept parameter for computing minimum C/P ratio for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  prbmn_3_1:
                                      description: "intercept parameter for computing minimum C/S ratio for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  prbmn_1_2:
                                      description: "slope parameter for computing minimum C/N ratio for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  prbmn_2_2:
                                      description: "slope parameter for computing minimum C/P ratio for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  prbmn_3_2:
                                      description: "slope parameter for computing minimum C/S ratio for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  prbmx_1_1:
                                      description: "intercept parameter for computing maximum C/N ratios for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  prbmx_2_1:
                                      description: "intercept parameter for computing maximum C/P ratios for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  prbmx_3_1:
                                      description: "intercept parameter for computing maximum C/S ratios for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  prbmx_1_2:
                                      description: "slope parameter for computing maximum C/N ratios for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  prbmx_2_2:
                                      description: "slope parameter for computing maximum C/P ratios for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  prbmx_3_2:
                                      description: "slope parameter for computing maximum C/S ratios for below ground matter as a linear function of annual precipitation"
                                      type: integer
                                  fligni_1_1:
                                      description: "intercept for equation to predict lignin content fraction based on annual rainfall for aboveground material"
                                      type: integer
                                  fligni_2_1:
                                      description: "slope for equation to predict lignin content fraction based on annual rainfall for aboveground material. For crops, set to 0."
                                      type: integer
                                  fligni_1_2:
                                      description: "intercept for equation to predict lignin content fraction based on annual rainfall for juvenile live fine root material"
                                      type: integer
                                  fligni_2_2:
                                      description: "slope for equation to predict lignin content fraction based on annual rainfall for juvenile live fine root material. For crops, set to 0."
                                      type: integer
                                  fligni_1_3:
                                      description: "intercept for equation to predict lignin content fraction based on annual rainfall for mature live fine root material"
                                      type: integer
                                  fligni_2_3:
                                      description: "slope for equation to predict lignin content fraction based on annual rainfall for mature live fine root material. For crops, set to 0."
                                      type: integer
                                  himax:
                                      description: "harvest index maximum fraction of aboveground live C in grain"
                                      type: integer
                                  hiwsf:
                                      description: "harvest index water stress factor = 0 no effect of water stress = 1 no grain yield with maximum water stress"
                                      type: integer
                                  himon_1:
                                      description: "number of months prior to harvest in which to begin accumulating water stress effect on harvest index"
                                      type: integer
                                  himon_2:
                                      description: "number of months prior to harvest in which to stop accumulating water stress effect on harvest index"
                                      type: integer
                                  efrgrn_1:
                                      description: "fraction of the aboveground N which goes to grain"
                                      type: integer
                                  efrgrn_2:
                                      description: "fraction of the aboveground P which goes to grain"
                                      type: integer
                                  efrgrn_3:
                                      description: "fraction of the aboveground S which goes to grain"
                                      type: integer
                                  vlossp:
                                      description: "fraction of aboveground plant N which is volatilized occurs at harvest for crops or at senescence for grasses"
                                      type: integer
                                  fsdeth_1:
                                      description: "maximum shoot death rate at very dry soil conditions fraction/month for getting the monthly shoot death rate, this fraction is multiplied times a reduction factor depending on the soil water status"
                                      type: integer
                                  fsdeth_2:
                                      description: "fraction of shoots which die during senescence month must be greater than or equal to 0.4"
                                      type: integer
                                  fsdeth_3:
                                      description: "additional fraction of shoots which die when aboveground live C is greater than fsdeth4"
                                      type: integer
                                  fsdeth_4:
                                      description: "the level of aboveground C above which shading occurs and shoot senescence increases"
                                      type: integer
                                  fallrt:
                                      description: "fall rate fraction of standing dead which falls each month"
                                      type: integer
                                  rdrj:
                                      description: "maximum juvenile fine root death rate at very dry soil conditions fraction/month for getting the monthly root death rate, this fraction is multiplied times a reduction factor depending on the soil water status"
                                      type: integer
                                  rdrm:
                                      description: "maximum mature fine root death rate at very dry soil conditions fraction/month for getting the monthly root death rate, this fraction is multiplied times a reduction fraction depending on the soil water status"
                                      type: integer
                                  rdsrfc:
                                      description: "the fraction of the fine roots that are transferred into the surface litter layer SRTUCC1 and METABC1 upon root death, the remainder of the roots will go to the soil litter layer STRUCC2 and METABC2"
                                      type: integer
                                  rtdtmp:
                                      description: "at which the frtc2 value is reached, used when frtcindx = 2, 4, 5 or 6 physiological shutdown temperature for root death and change in shoot/root ratio"
                                      type: integer
                                  crprtf_1:
                                      description: "fraction of N transferred to a vegetation storage pool from grass/crop leaves at death"
                                      type: integer
                                  crprtf_2:
                                      description: "fraction of P transferred to a vegetation storage pool from grass/crop leaves at death"
                                      type: integer
                                  crprtf_3:
                                      description: "fraction of S transferred to a vegetation storage pool from grass/crop leaves at death"
                                      type: integer
                                  mrtfrac:
                                      description: "fraction of fine root production that goes to mature roots"
                                      type: integer
                                  snfxmx_1:
                                      description: "symbiotic N fixation maximum for grassland/crop g N fixed/g C new growth"
                                      type: integer
                                  del13c:
                                      description: "delta 13C value for stable isotope labeling"
                                      type: integer
                                  co2ipr_1:
                                      description: "in a grassland/crop system, the effect on plant production of doubling the atmospheric CO2 concentration from 350 ppm to 700 ppm"
                                      type: integer
                                  co2itr_1:
                                      description: "in a grassland/crop system, the effect on transpiration rate of doubling the atmospheric CO2 concentration from 350 ppm to 700 ppm"
                                      type: integer
                                  co2ice_1_1_1:
                                      description: "in a grassland/crop system, the effect on minimum C/N ratio of doubling the atmospheric CO2 concentration from 350 ppm to 700 ppm"
                                      type: integer
                                  co2ice_1_1_2:
                                      description: "in a grassland/crop system, the effect on minimum C/P ratio of doubling the atmospheric CO2 concentration from 350 ppm to 700 ppm"
                                      type: integer
                                  co2ice_1_1_3:
                                      description: "in a grassland/crop system, the effect on minimum C/S ratio of doubling the atmospheric CO2 concentration from 350 ppm to 700 ppm"
                                      type: integer
                                  co2ice_1_2_1:
                                      description: "in a grassland/crop system, the effect on maximum C/N ratio of doubling the atmospheric CO2 concentration from 350 ppm to 700 ppm"
                                      type: integer
                                  co2ice_1_2_2:
                                      description: "in a grassland/crop system, the effect on maximum C/P ratio of doubling the atmospheric CO2 concentration from 350 ppm to 700 ppm"
                                      type: integer
                                  co2ice_1_2_3:
                                      description: "in a grassland/crop system, the effect on maximum C/S ratio of doubling the atmospheric CO2 concentration from 350 ppm to 700 ppm"
                                      type: integer
                                  co2irs_1:
                                      description: "in a grassland/crop system, the effect on rootshoot ratio of doubling the atmospheric CO2 concentration from 350 ppm to 700 ppm"
                                      type: integer
                                  kmrsp_1:
                                      description: "the fraction of net primary production that goes to the maintenance respiration storage pool for crops"
                                      type: integer
                                  ckmrspmx_1:
                                      description: "maximum fraction of aboveground live C that goes to maintenance respiration for crops"
                                      type: integer
                                  ckmrspmx_2:
                                      description: "maximum fraction of juvenile live fine root C that goes to maintenance respiration for crops"
                                      type: integer
                                  ckmrspmx_3:
                                      description: "maximum fraction of mature live fine root C that goes to maintenance respiration for crops"
                                      type: integer
                                  cgresp_1:
                                      description: "maximum fraction of aboveground live C that goes to maintenance respiration for crops"
                                      type: integer
                                  cgresp_2:
                                      description: "maximum fraction of juvenile fine root live C that goes to maintenance respiration for crops"
                                      type: integer
                                  cgresp_3:
                                      description: "maximum fraction of mature fine root live C that goes to maintenance respiration for crops"
                                      type: integer
                                  no3pref_1:
                                      description: "fraction of N update that is NO3"
                                      type: integer
                                  claypg:
                                      description: "number of soil layers used to determine water and mineral N, P, and S that are available for crop growth"
                                      type: integer
                                  cmix:
                                      description: "rate of mixing of surface SOM2C and soil SOM2C for grass/crop system, this value will also be used when running a savanna"
                                      type: integer
                                  tmpgerm:
                                      description: "germination temperature for the growing degree day submodel degrees C"
                                      type: integer
                                  ddbase:
                                      description: "number of degree days required to trigger a senescence event for a perennial FRTCINDX = 3, maturity and harvest for a nongrain filling annual FRTCINDX = 4, or to reach anthesis flowering for a grain filling annual FRTCINDX = 5 or 6 degrees C"
                                      type: integer
                                  tmpkill:
                                      description: "temperature at which growth will stop when using the growing degree day submodel degrees C"
                                      type: integer
                                  basetemp_1:
                                      description: "base temperature for crop growth, growing degree days will accumulate only on days when the average temperature is greater than the base temperature for the crop degrees C"
                                      type: integer
                                  basetemp_2:
                                      description: "ceiling on the maximum temperature used to accumulate growing degree days degrees C"
                                      type: integer
                                  mnddhrv:
                                      description: "minimum number of degree days from anthesis flowering to harvest for grain filling annuals FRTCINDX = 5 or 6 degrees C"
                                      type: integer
                                  mxddhrv:
                                      description: "maximum number of degree days from anthesis flowering to harvest for grain filling annuals FRTCINDX = 5 or 6 degrees C"
                                      type: integer
                                  cmxturn:
                                      description: "maximum turnover rate per month of juvenile fine roots to mature fine roots through aging"
                                      type: integer
                          cult:
                              type: object
                              properties:
                                  cultra_1:
                                      description: "fraction of aboveground live transferred to standing dead"
                                      type: integer
                                  cultra_2:
                                      description: "fraction of aboveground live transferred to surface litter"
                                      type: integer
                                  cultra_3:
                                      description: "fraction of aboveground live transferred to the top soil layer"
                                      type: integer
                                  cultra_4:
                                      description: "fraction of standing dead transferred to surface litter"
                                      type: integer
                                  cultra_5:
                                      description: "fraction of standing dead transferred to top soil layer"
                                      type: integer
                                  cultra_6:
                                      description: "fraction of surface litter transferred to top soil layer"
                                      type: integer
                                  cultra_7:
                                      description: "fraction of roots transferred to top soil layer"
                                      type: integer
                                  clteff_1:
                                      description: "cultivation factor for som1 decomposition functions as a multiplier for increased decomposition in the month of the cultivation"
                                      type: integer
                                  clteff_2:
                                      description: "cultivation factor for som2 decomposition functions as a multiplier for increased decomposition in the month of the cultivation"
                                      type: integer
                                  clteff_3:
                                      description: "cultivation factor for som3 decomposition functions as a multiplier for increased decomposition in the month of the cultivation"
                                      type: integer
                                  clteff_4:
                                      description: "cultivation factor for soil structural material decomposition functions as a multiplier for increased decomposition in the month of the cultivation"
                                      type: integer
                          fert:
                              type: object
                              properties:
                                  feramt_1:
                                      description: "amount of N to be added gN/m2 in scheduled month"
                                      type: integer
                                  feramt_2:
                                      description: "amount of P to be added gP/m2 in scheduled month"
                                      type: integer
                                  feramt_3:
                                      description: "amount of S to be added gS/m2 in scheduled month"
                                      type: integer
                                  aufert:
                                      description: "key for automatic fertilization = 0.0 no automatic fertilization < 1.0 automatic fertilizer may be applied to remove some nutrient stress without increasing nutrient concentration above the minimum level the value of is the fraction of potential C production temperature and moisture limited which will be maintained > 1.0 automatic fertilizer may be applied to remove nutrient stress and increase nutrient concentrations above the minimum level a value of between 1.0 and 2.0 determines the extent to which nutrient concentration is maintained between the minimum and maximum levels = 2.0 automatic fertilizer may be applied to remove nutrient stress and increase nutrient concentrations to the maximum level"
                                      type: integer
                                  ninhib:
                                      description: "reduction factor on nitrification rates due to nitrification inhibitors added with fertilizer, 1.0 = no reduction"
                                      type: integer
                                  ninhtm:
                                      description: "number of weeks to simulate the effect of the nitrogen inhibitor from the fertilizer addition"
                                      type: integer
                                  frac_nh4:
                                      description: "fraction of N fertilizer that is NH4+ ammonium"
                                      type: integer
                                  frac_no2:
                                      description: "fraction of N fertilizer that is NO3 nitrate"
                                      type: integer
                          fire:
                              type: object
                              properties:
                                  flfrem:
                                      description: "fraction of live shoots removed by a fire event"
                                      type: integer
                                  fdfrem_1:
                                      description: "fraction of standing dead plant material removed by a fire event"
                                      type: integer
                                  fdfrem_2:
                                      description: "fraction of surface litter removed by a fire event"
                                      type: integer
                                  fdfrem_3:
                                      description: "fraction of dead fine branches removed by a fire event"
                                      type: integer
                                  fdfrem_4:
                                      description: "fraction of dead large wood removed by a fire event"
                                      type: integer
                                  fret_1_1:
                                      description: "fraction of C in the burned aboveground material live shoots, standing dead, and litter returned to the system following a fire event"
                                      type: integer
                                  fret_1_2:
                                      description: "fraction of N in the burned aboveground material returned to the system following a fire event"
                                      type: integer
                                  fret_1_3:
                                      description: "fraction of P in the burned aboveground material returned to the system following a fire event"
                                      type: integer
                                  fret_1_4:
                                      description: "fraction of S in the burned aboveground material returned to the system following a fire event"
                                      type: integer
                                  fret_2_1:
                                      description: "fraction of C in the burned dead fine branch material returned to the system following a fire event"
                                      type: integer
                                  fret_2_2:
                                      description: "fraction of N in the burned dead fine branch material returned to the system following a fire event"
                                      type: integer
                                  fret_2_3:
                                      description: "fraction of P in the burned dead fine branch material returned to the system following a fire event"
                                      type: integer
                                  fret_2_4:
                                      description: "fraction of S in the burned dead fine branch material returned to the system following a fire event"
                                      type: integer
                                  fret_3_1:
                                      description: "fraction of C in the burned dead large wood material returned to the system following a fire event"
                                      type: integer
                                  fret_3_2:
                                      description: "fraction of N in the burned dead large wood material returned to the system following a fire event"
                                      type: integer
                                  fret_3_3:
                                      description: "fraction of P in the burned dead large wood material returned to the system following a fire event"
                                      type: integer
                                  fret_3_4:
                                      description: "fraction of S in the burned dead large wood material returned to the system following a fire event"
                                      type: integer
                                  frtsh:
                                      description: "additive effect of burning on root/shoot ratio"
                                      type: integer
                                  fnue_1:
                                      description: "effect of fire on increase in maximum C/N ratio of shoots"
                                      type: integer
                                  fnue_2:
                                      description: "effect of fire on increase in maximum C/N ratio of roots"
                                      type: integer
                          fix:
                              type: object
                              properties:
                                  adep_1:
                                      description: "depth of soil layer 1 only nlayer+1 values used cm 0 depth of soil layer 10 only nlayer+1 values used cm"
                                      type: integer
                                  adep_2:
                                      description: "depth of soil layer 2 only nlayer+1 values used cm"
                                      type: integer
                                  adep_3:
                                      description: "depth of soil layer 3 only nlayer+1 values used cm"
                                      type: integer
                                  adep_4:
                                      description: "depth of soil layer 4 only nlayer+1 values used cm"
                                      type: integer
                                  adep_5:
                                      description: "depth of soil layer 5 only nlayer+1 values used cm"
                                      type: integer
                                  adep_6:
                                      description: "depth of soil layer 6 only nlayer+1 values used cm"
                                      type: integer
                                  adep_7:
                                      description: "depth of soil layer 7 only nlayer+1 values used cm"
                                      type: integer
                                  adep_8:
                                      description: "depth of soil layer 8 only nlayer+1 values used cm"
                                      type: integer
                                  adep_9:
                                      description: "depth of soil layer 9 only nlayer+1 values used cm"
                                      type: integer
                                  adep_10:
                                      description: "depth of soil layer 10 only nlayer+1 values used cm"
                                      type: integer
                                  agppa:
                                      description: "intercept parameter in the equation estimating potential aboveground biomass production for calculation of root/shoot ratio used only if frtc1 = 0 g/m2/y"
                                      type: integer
                                  agppb:
                                      description: "slope parameter in the equation estimating potential above ground biomass production for calculation of root/shoot ratio used only if frtc1 = 0 g/m2/y/cm NOTE is multiplied by annual precipitation cm"
                                      type: integer
                                  aneref_1:
                                      description: "ratio of rain/potential evapotranspiration below which there is no negative impact of soil anaerobic conditions on decomposition"
                                      type: integer
                                  aneref_2:
                                      description: "ratio of rain/potential evapotranspiration above which there is maximum negative impact of soil anaerobic conditions on decomposition"
                                      type: integer
                                  aneref_3:
                                      description: "minimum value of the impact of soil anaerobic conditions on decomposition functions as a multiplier for the maximum decomposition rate"
                                      type: integer
                                  animpt:
                                      description: "slope term used to vary the impact of soil anaerobic conditions on decomposition flows to the passive soil organic matter pool"
                                      type: integer
                                  awtl_1:
                                      description: "weighting factor for transpiration loss for layer 1 only nlayer+1 values used indicates which fraction of the available water can be extracted by the roots 0 weighting factor for transpiration loss for layer 10 only nlayer+1 values used indicates which fraction of the available water can be extracted by the roots"
                                      type: integer
                                  awtl_2:
                                      description: "weighting factor for transpiration loss for layer 2 only nlayer+1 values used indicates which fraction of the available water can be extracted by the roots"
                                      type: integer
                                  awtl_3:
                                      description: "weighting factor for transpiration loss for layer 3 only nlayer+1 values used indicates which fraction of the available water can be extracted by the roots"
                                      type: integer
                                  awtl_4:
                                      description: "weighting factor for transpiration loss for layer 4 only nlayer+1 values used indicates which fraction of the available water can be extracted by the roots"
                                      type: integer
                                  awtl_5:
                                      description: "weighting factor for transpiration loss for layer 5 only nlayer+1 values used indicates which fraction of the available water can be extracted by the roots"
                                      type: integer
                                  awtl_6:
                                      description: "weighting factor for transpiration loss for layer 6 only nlayer+1 values used indicates which fraction of the available water can be extracted by the roots"
                                      type: integer
                                  awtl_7:
                                      description: "weighting factor for transpiration loss for layer 7 only nlayer+1 values used indicates which fraction of the available water can be extracted by the roots"
                                      type: integer
                                  awtl_8:
                                      description: "weighting factor for transpiration loss for layer 8 only nlayer+1 values used indicates which fraction of the available water can be extracted by the roots"
                                      type: integer
                                  awtl_9:
                                      description: "weighting factor for transpiration loss for layer 9 only nlayer+1 values used indicates which fraction of the available water can be extracted by the roots"
                                      type: integer
                                  awtl_10:
                                      description: "weighting factor for transpiration loss for layer 10 only nlayer+1 values used indicates which fraction of the available water can be extracted by the roots"
                                      type: integer
                                  bgppa:
                                      description: "intercept parameter in the equation estimating potential below ground biomass production for calculation of root/shoot ratio used only if frtc1 = 0 g/m2/y"
                                      type: integer
                                  bgppb:
                                      description: "slope parameter in the equation estimating potential below ground biomass production for calculation of root/shoot ratio used only if frtc1 = 0 g/m2/y NOTE is multiplied by annual precipitation cm"
                                      type: integer
                                  co2ppm_1:
                                      description: "initial parts per million for CO2 effect"
                                      type: integer
                                  co2ppm_2:
                                      description: "final parts per million for CO2 effect"
                                      type: integer
                                  co2rmp:
                                      description: "flag indicating whether CO2 effect should be = 0 step function = 1 ramp function"
                                      type: integer
                                  damr_1_1:
                                      description: "fraction of surface N absorbed by residue"
                                      type: integer
                                  damr_1_2:
                                      description: "fraction of surface P absorbed by residue"
                                      type: integer
                                  damr_1_3:
                                      description: "fraction of surface S absorbed by residue"
                                      type: integer
                                  damr_2_1:
                                      description: "fraction of soil N absorbed by residue"
                                      type: integer
                                  damr_2_2:
                                      description: "fraction of soil P absorbed by residue"
                                      type: integer
                                  damr_2_3:
                                      description: "fraction of soil S absorbed by residue"
                                      type: integer
                                  damrmn_1:
                                      description: "minimum C/N ratio allowed in residue after direct absorption"
                                      type: integer
                                  damrmn_2:
                                      description: "minimum C/P ratio allowed in residue after direct absorption"
                                      type: integer
                                  damrmn_3:
                                      description: "minimum C/S ratio allowed in residue after direct absorption"
                                      type: integer
                                  dec1_1:
                                      description: "maximum surface structural decomposition rate, the fraction of the pool that turns over each year"
                                      type: integer
                                  dec1_2:
                                      description: "maximum soil structural decomposition rate, the fraction of the pool that turns over each year"
                                      type: integer
                                  dec2_1:
                                      description: "maximum surface metabolic decomposition rate, the fraction of the pool that turns over each year"
                                      type: integer
                                  dec2_2:
                                      description: "maximum soil metabolic decomposition rate, the fraction of the pool that turns over each year"
                                      type: integer
                                  dec3_1:
                                      description: "maximum decomposition rate of surface organic matter with active turnover, the fraction of the pool that turns over each year"
                                      type: integer
                                  dec3_2:
                                      description: "maximum decomposition rate of soil organic matter with active turnover, the fraction of the pool that turns over each year"
                                      type: integer
                                  dec4:
                                      description: "maximum decomposition rate of soil organic matter with slow turnover, the fraction of the pool that turns over each year"
                                      type: integer
                                  dec5_1:
                                      description: "maximum decomposition rate of surface organic matter with intermediate turnover, the fraction of the pool that turns over each year"
                                      type: integer
                                  dec5_2:
                                      description: "maximum decomposition rate of soil organic matter with intermediate turnover, the fraction of the pool that turns over each year"
                                      type: integer
                                  deck5:
                                      description: "available soil water content at which shoot and root death rates are half maximum cm"
                                      type: integer
                                  dligdf:
                                      description: "difference in delta 13C for lignin compared to whole plant delta 13C"
                                      type: integer
                                  dresp:
                                      description: "discrimination factor for 13C during decomposition of organic matter due to microbial respiration"
                                      type: integer
                                  edepth:
                                      description: "depth of the single soil layer where C, N, P, and S dynamics are calculated only affects C, N, P, S loss by erosion"
                                      type: integer
                                  elitst:
                                      description: "effect of litter on soil temperature relative to live and standing dead biomass"
                                      type: integer
                                  enrich:
                                      description: "the ment factor for SOM losses"
                                      type: integer
                                  favail_1:
                                      description: "fraction of N available per month to plants"
                                      type: integer
                                  favail_3:
                                      description: "fraction of S available per month to plants"
                                      type: integer
                                  favail_4:
                                      description: "minimum fraction of P available per month to plants"
                                      type: integer
                                  favail_5:
                                      description: "maximum fraction of P available per month to plants"
                                      type: integer
                                  favail_6:
                                      description: "mineral N in surface layer corresponding to maximum fraction of P available g/m2"
                                      type: integer
                                  fleach_1:
                                      description: "intercept value for a normal month to compute the fraction of minerl N, P, and S which will leach to the next layer when there is a saturated water flow normal leaching is a function of sand content"
                                      type: integer
                                  fleach_2:
                                      description: "slope value for a normal month to compute the fraction of minerl N, P, and S which will leach to the next layer when there is a saturated water flow normal leaching is a function of sand content"
                                      type: integer
                                  fleach_3:
                                      description: "leaching fraction multiplier for N to compute the fraction of mineral N which will leach to the next layer when there is a saturated water flow normal leaching is a function of sand content"
                                      type: integer
                                  fleach_4:
                                      description: "leaching fraction multiplier for P to compute the fraction of mineral P which will leach to the next layer when there is a saturated water flow normal leaching is a function of sand content"
                                      type: integer
                                  fleach_5:
                                      description: "leaching fraction multiplier for S to compute the fraction of mineral S which will leach to the next layer when there is a saturated water flow normal leaching is a function of sand content"
                                      type: integer
                                  fwloss_1:
                                      description: "scaling factor for interception and evaporation of precipitation by live and standing dead biomass"
                                      type: integer
                                  fwloss_2:
                                      description: "scaling factor for bare soil evaporation of precipitation h2olos"
                                      type: integer
                                  fwloss_3:
                                      description: "scaling factor for transpiration water loss h2olos"
                                      type: integer
                                  fwloss_4:
                                      description: "scaling factor for potential evapotranspiration pevap"
                                      type: integer
                                  fxmca:
                                      description: "intercept for effect of biomass on nonsymbiotic soil N fixation used only when nsnfix = 1"
                                      type: integer
                                  fxmcb:
                                      description: "slope control for effect of biomass on nonsymbiotic soil N fixation used only when nsnfix = 1"
                                      type: integer
                                  fxmxs:
                                      description: "maximum monthly nonsymbiotic soil Nfixation rate reduced by effect of NP ratio, used when nsnfix = 1"
                                      type: integer
                                  fxnpb:
                                      description: "N/P control for Nfixation based on availability of top soil layer used when nsnfix = 1"
                                      type: integer
                                  gremb:
                                      description: "grazing effect multiplier for grzeff types 4, 5, 6"
                                      type: integer
                                  idef:
                                      description: "flag for method of computing water effect on decomposition = 1 option using the relative water content of soil 015 cm = 2 ratio option rainfall/potential evaporation rate = 3 water filled pore space"
                                      type: integer
                                  lhzf_1:
                                      description: "lower horizon factor for active pool = fraction of active pool SOM1CI2,* used in computation of lower horizon pool sizes for soil erosion routines"
                                      type: integer
                                  lhzf_2:
                                      description: "lower horizon factor for slow pool = fraction of slow pool SOM2CI* used in computation of lower horizon pool sizes for soil erosion routines"
                                      type: integer
                                  lhzf_3:
                                      description: "lower horizon factor for passive pool = fraction of passive pool SOM3CI* used in computation of lower horizon pool sizes for soil erosion routines"
                                      type: integer
                                  minlch:
                                      description: "critical water flow for leaching of minerals cm of H2O leached below 30 cm soil depth"
                                      type: integer
                                  nsnfix:
                                      description: "= 1 = 1 = 1 = 1 equals 1 if nonsymbiotic N fixation should be based on NP ratio in mineral pool, otherwise nonsymbiotic N fixation is based on annual precipitation"
                                      type: integer
                                  ntspm:
                                      description: "number of time steps per month for the decomposition submodel"
                                      type: integer
                                  omlech_1:
                                      description: "intercept for the effect of sand on leaching of organic compounds"
                                      type: integer
                                  omlech_2:
                                      description: "slope for the effect of sand on leaching of organic compounds"
                                      type: integer
                                  omlech_3:
                                      description: "the amount of water that needs to flow out of water layer 2 to leach organic C at the maximum rate cm/month"
                                      type: integer
                                  p1co2a_1:
                                      description: "intercept parameter which controls flow from surface organic matter with fast turnover to CO2 fraction of C lost to CO2 when there is no sand in the soil"
                                      type: integer
                                  p1co2a_2:
                                      description: "intercept parameter which controls flow from soil organic matter with fast turnover to CO2 fraction of C lost to CO2 when there is no sand in the soil"
                                      type: integer
                                  p1co2b_1:
                                      description: "slope parameter which controls flow from surface organic matter with fast turnover to CO2 slope is multiplied by the fraction sand content of the soil"
                                      type: integer
                                  p1co2b_2:
                                      description: "slope parameter which controls flow from soil organic matter with fast turnover to CO2 slope is multiplied by the fraction sand content of the soil"
                                      type: integer
                                  p2co2_1:
                                      description: "controls flow from surface organic matter with intermediate turnover to CO2 fraction of C lost as CO2 during decomposition"
                                      type: integer
                                  p2co2_2:
                                      description: "controls flow from soil organic matter with intermediate turnover to CO2 fraction of C lost as CO2 during decomposition"
                                      type: integer
                                  p3co2:
                                      description: "controls flow from soil organic matter with slow turnover rate to CO2 fraction of C lost as CO2 during decomposition"
                                      type: integer
                                  pabres:
                                      description: "amount of residue which will give maximum direct absorption of N gC/m2"
                                      type: integer
                                  pcemic1_1_1:
                                      description: "maximum C/N ratio for surface microbial pool"
                                      type: integer
                                  pcemic1_1_2:
                                      description: "maximum C/P ratio for surface microbial pool"
                                      type: integer
                                  pcemic1_1_3:
                                      description: "maximum C/S ratio for surface microbial pool"
                                      type: integer
                                  pcemic1_2_1:
                                      description: "minimum C/N ratio for surface microbial pool"
                                      type: integer
                                  pcemic1_2_2:
                                      description: "minimum C/P ratio for surface microbial pool"
                                      type: integer
                                  pcemic1_2_3:
                                      description: "minimum C/S ratio for surface microbial pool"
                                      type: integer
                                  pcemic1_3_1:
                                      description: "mimimum N content of decomposing aboveground material, above which the C/N ratio of the surface microbes equals pcemic2,*"
                                      type: integer
                                  pcemic1_3_2:
                                      description: "mimimum P content of decomposing aboveground material, above which the C/P ratio of the surface microbes equals pcemic2,*"
                                      type: integer
                                  pcemic1_3_3:
                                      description: "mimimum S content of decomposing aboveground material, above which the C/S ratio of the surface microbes equals pcemic2,*"
                                      type: integer
                                  pcemic2_1_1:
                                      description: "maximum C/N ratio for surface intermediate pool"
                                      type: integer
                                  pcemic2_1_2:
                                      description: "maximum C/P ratio for surface intermediate pool"
                                      type: integer
                                  pcemic2_1_3:
                                      description: "maximum C/S ratio for surface intermediate pool"
                                      type: integer
                                  pcemic2_2_1:
                                      description: "minimum C/N ratio for surface intermediate pool"
                                      type: integer
                                  pcemic2_2_2:
                                      description: "minimum C/P ratio for surface intermediate pool"
                                      type: integer
                                  pcemic2_2_3:
                                      description: "minimum C/S ratio for surface intermediate pool"
                                      type: integer
                                  pcemic2_3_1:
                                      description: "mimimum N content of decomposing aboveground material, above which the C/N ratio of the surface intermediate pool equals pcemic2,*"
                                      type: integer
                                  pcemic2_3_2:
                                      description: "mimimum P content of decomposing aboveground material, above which the C/P ratio of the surface intermediate pool equals pcemic2,*"
                                      type: integer
                                  pcemic2_3_3:
                                      description: "mimimum S content of decomposing aboveground material, above which the C/S ratio of the surface intermediate pool equals pcemic2,*"
                                      type: integer
                                  peftxa:
                                      description: "intercept parameter for regression equation to compute the effect of soil texture on the microbe decomposition rate the effect of texture when there is no sand in the soil"
                                      type: integer
                                  peftxb:
                                      description: "slope parameter for the regression equation to compute the effect of soil texture on the microbe decomposition rate the slope is multiplied by the sand content fraction"
                                      type: integer
                                  phesp_1:
                                      description: "minimum pH for determining the effect of pH on the solubility of secondary P flow of secondary P to mineral P for texesp2 = m crop-description.txt crop.def crop.txt cult-description.txt cult.def cult.txt fert-description.txt fert.def fert.txt fire-description.txt fire.def fire.txt fix-description.txt fix.def fix.txt graz.def graz.txt harv.def harv.txt irri.def irri.txt omad.def omad.txt site.def site.txt tree.def tree.txt trem.def trem.txt pH input + b, m and b calculated using these phesp values 4 and texesp3"
                                      type: integer
                                  phesp_2:
                                      description: "value of texesp2, the solubility of secondary P, corresponding to minimum pH /yr"
                                      type: integer
                                  phesp_3:
                                      description: "maximum pH for determining effect on solubility of secondary P flow of secondary P to mineral P for texesp2 = m crop-description.txt crop.def crop.txt cult-description.txt cult.def cult.txt fert-description.txt fert.def fert.txt fire-description.txt fire.def fire.txt fix-description.txt fix.def fix.txt graz.def graz.txt harv.def harv.txt irri.def irri.txt omad.def omad.txt site.def site.txt tree.def tree.txt trem.def trem.txt pH input + b, m and b calculated using these phesp values"
                                      type: integer
                                  phesp_4:
                                      description: "value of texesp2, the solubility of secondary P, corresponding to maximum pH /yr"
                                      type: integer
                                  pligst_1:
                                      description: "effect of lignin on surface structural or fine branch and large wood decomposition"
                                      type: integer
                                  pligst_2:
                                      description: "effect of lignin on soil structural or coarse root decomposition"
                                      type: integer
                                  pmco2_1:
                                      description: "surface controls flow from surface metabolic to CO2 fraction of C lost as CO2 during decomposition"
                                      type: integer
                                  pmco2_2:
                                      description: "soil controls flow from soil metabolic to CO2 fraction of C lost as CO2 during decomposition"
                                      type: integer
                                  pmnsec_1:
                                      description: "slope for N controls the flow from mineral to secondary N /yr"
                                      type: integer
                                  pmnsec_2:
                                      description: "slope for P controls the flow from mineral to secondary P /yr"
                                      type: integer
                                  pmnsec_3:
                                      description: "slope for S controls the flow from mineral to secondary S /yr"
                                      type: integer
                                  pmntmp:
                                      description: "effect of biomass on minimum surface temperature"
                                      type: integer
                                  pmxbio:
                                      description: "maximum dead biomass standing dead + 10% litter level for soil temperature calculation and for calculation of the potential negative effect on plant growth of physical obstruction by standing dead and litter"
                                      type: integer
                                  pmxtmp:
                                      description: "effect of biomass on maximum surface temperature"
                                      type: integer
                                  pparmn_1:
                                      description: "N controls the flow from parent material to mineral compartment fraction of parent material that flows to mineral N, P, and S"
                                      type: integer
                                  pparmn_2:
                                      description: "P controls the flow from parent material to mineral compartment used when texepp1 is not = 1 fraction of parent material that flows to mineral N, P, and S in the weathering equation = 1 include the effect of texture using the remaining texepp values with the arctangent function"
                                      type: integer
                                  pparmn_3:
                                      description: "S controls the flow from parent material to mineral compartment fraction of parent material that flows to mineral N, P, and S"
                                      type: integer
                                  pprpts_1:
                                      description: "the minimum ratio of available water to PET which would completely limit production assuming WC = 0"
                                      type: integer
                                  pprpts_2:
                                      description: "the effect of WC on the intercept, allows the user to increase the value of the intercept and thereby increase the slope of the line"
                                      type: integer
                                  pprpts_3:
                                      description: "the lowest ratio of available water to PET at which there is no restriction on production"
                                      type: integer
                                  ps1co2_1:
                                      description: "surface controls amount of CO2 loss when structural decomposes to som1"
                                      type: integer
                                  ps1co2_2:
                                      description: "soil controls amount of CO2 loss when structural decomposes to som1"
                                      type: integer
                                  ps1s3_1:
                                      description: "intercept for the effect of clay on the control for the flow from soil organic matter with fast turnover to som with slow turnover fraction of C from som1c to som3c"
                                      type: integer
                                  ps1s3_2:
                                      description: "slope for the effect of clay on the control for the flow from soil organic matter with fast turnover to som with slow turnover fraction of C from som1c to som3c"
                                      type: integer
                                  ps2s3_1:
                                      description: "intercept value which controls flow from soil organic matter with intermediate turnover to soil organic matter with slow turnover fraction of C from som2c to som3c"
                                      type: integer
                                  ps2s3_2:
                                      description: "slope value which controls flow from soil organic matter with intermediate turnover to soil organic matter with slow turnover fraction of C from som2c to som3c"
                                      type: integer
                                  psecmn_1:
                                      description: "N controls the flow from secondary to mineral N"
                                      type: integer
                                  psecmn_2:
                                      description: "P controls the flow from secondary to mineral P in the weathering equation = 1 include the effect of pH and sand content using the equation specified by texesp2 a function of pH and phesp14 and texesp3"
                                      type: integer
                                  psecmn_3:
                                      description: "S controls the flow from secondary to mineral S"
                                      type: integer
                                  psecoc1:
                                      description: "controls the flow from secondary to occluded P"
                                      type: integer
                                  psecoc2:
                                      description: "controls the back flow from occluded to secondary P"
                                      type: integer
                                  rad1p_1_1:
                                      description: "intercept used to calculate addition term for C/N ratio of slow SOM formed from surface active pool"
                                      type: integer
                                  rad1p_2_1:
                                      description: "slope used to calculate addition term for C/N ratio of slow SOM formed from surface active pool"
                                      type: integer
                                  rad1p_3_1:
                                      description: "minimum allowable C/N used to calculate addition term for C/N ratio of slow SOM formed from surface active pool"
                                      type: integer
                                  rad1p_1_2:
                                      description: "intercept used to calculate addition term for C/P ratio of slow SOM formed from surface active pool"
                                      type: integer
                                  rad1p_2_2:
                                      description: "slope used to calculate addition term for C/P ratio of slow SOM formed from surface active pool"
                                      type: integer
                                  rad1p_3_2:
                                      description: "minimum allowable C/P used to calculate addition term for C/P ratio of slow SOM formed from surface active pool"
                                      type: integer
                                  rad1p_1_3:
                                      description: "intercept used to calculate addition term for C/S ratio of slow SOM formed from surface active pool"
                                      type: integer
                                  rad1p_2_3:
                                      description: "slope used to calculate addition term for C/S ratio of slow SOM formed from surface active pool"
                                      type: integer
                                  rad1p_3_3:
                                      description: "minimum allowable C/S used to calculate addition term for C/S ratio of slow SOM formed from surface active pool"
                                      type: integer
                                  rcestr_1:
                                      description: "C/N ratio for structural material fixed parameter value"
                                      type: integer
                                  rcestr_2:
                                      description: "C/P ratio for structural material fixed parameter value"
                                      type: integer
                                  rcestr_3:
                                      description: "C/S ratio for structural material fixed parameter value"
                                      type: integer
                                  rictrl:
                                      description: "root impact control term used by rtimp used for calculating the impact of root biomass on nutrient availability"
                                      type: integer
                                  riint:
                                      description: "root impact intercept used by rtimp used for calculating the impact of root biomass on nutrient availability"
                                      type: integer
                                  rsplig:
                                      description: "fraction of lignin flow in structural decomposition lost as CO2"
                                      type: integer
                                  seed:
                                      description: "random number generator value"
                                      type: integer
                                  spl_1:
                                      description: "intercept parameter for metabolic vs. structural split"
                                      type: integer
                                  spl_2:
                                      description: "slope parameter for metabolic split fraction metabolic is a function of lignin to N ratio"
                                      type: integer
                                  strmax_1:
                                      description: "maximum amount of structural material in surface layer that will decompose gC/m2"
                                      type: integer
                                  strmax_2:
                                      description: "maximum amount of structural material belowground that will decompose gC/m2"
                                      type: integer
                                  texepp_1:
                                      description: "is not = 1 fraction of parent material that flows to mineral N, P, and S texture effect on parent P mineralization = 0 use pparmn2 in the weathering equation = 1 include the effect of texture using the remaining texepp values with the arctangent function"
                                      type: integer
                                  texepp_2:
                                      description: "x location of inflection point used in determining texture effect on parent P mineralization"
                                      type: integer
                                  texepp_3:
                                      description: "y location of inflection point used in determining texture effect on parent P mineralization"
                                      type: integer
                                  texepp_4:
                                      description: "step size distance from the maximum point to the minimum point used in determining texture effect on parent P mineralization"
                                      type: integer
                                  texepp_5:
                                      description: "slope of the line at the inflection point used in determining texture effect on parent P mineralization"
                                      type: integer
                                  texesp_1:
                                      description: "texture effect on secondary P flow to mineral P = 0 to use psecmn2 in the weathering equation = 1 include the effect of pH and sand content using the equation specified by texesp2 a function of pH and phesp14 and texesp3"
                                      type: integer
                                  texesp_3:
                                      description: "slope value used in determining effect of sand content on secondary P flow to mineral P"
                                      type: integer
                                  teff_1:
                                      description: "x location of inflection point, for determining the temperature component of DEFAC, the decomposition factor"
                                      type: integer
                                  teff_2:
                                      description: "y location of inflection point, for determining the temperature component of DEFAC, the decomposition factor"
                                      type: integer
                                  teff_3:
                                      description: "step size distance from the maximum point to the minimum point, for determining the temperature component of DEFAC, the decomposition factor"
                                      type: integer
                                  teff_4:
                                      description: "slope of line at inflection point, for determining the temperature component of DEFAC, the decomposition factor"
                                      type: integer
                                  tmelt_1:
                                      description: "minimum temperature above which at least some snow will melt"
                                      type: integer
                                  tmelt_2:
                                      description: "ratio between degrees above the minimum and cm of snow that will melt"
                                      type: integer
                                  varat1_1_1:
                                      description: "maximum C/N ratio for material entering som1"
                                      type: integer
                                  varat1_2_1:
                                      description: "minimum C/N ratio for material entering som1"
                                      type: integer
                                  varat1_3_1:
                                      description: "amount N present when minimum ratio applies"
                                      type: integer
                                  varat1_1_2:
                                      description: "maximum C/P ratio for material entering som1"
                                      type: integer
                                  varat1_2_2:
                                      description: "minimum C/P ratio for material entering som1"
                                      type: integer
                                  varat1_3_2:
                                      description: "amount P present when minimum ratio applies"
                                      type: integer
                                  varat1_1_3:
                                      description: "maximum C/S ratio for material entering som1"
                                      type: integer
                                  varat1_2_3:
                                      description: "minimum C/S ratio for material entering som1"
                                      type: integer
                                  varat1_3_3:
                                      description: "amount S present when minimum ratio applies"
                                      type: integer
                                  varat21_1_1:
                                      description: "maximum C/N ratio for material entering surface som2"
                                      type: integer
                                  varat21_2_1:
                                      description: "minimum C/N ratio for material entering surface som2"
                                      type: integer
                                  varat21_3_1:
                                      description: "amount N present when minimum ratio applies"
                                      type: integer
                                  varat21_1_2:
                                      description: "maximum C/P ratio for material entering surface som2"
                                      type: integer
                                  varat21_2_2:
                                      description: "minimum C/P ratio for material entering surface som2"
                                      type: integer
                                  varat21_3_2:
                                      description: "amount P present when minimum ratio applies"
                                      type: integer
                                  varat21_1_3:
                                      description: "maximum C/S ratio for material entering surface som2"
                                      type: integer
                                  varat21_2_3:
                                      description: "minimum C/S ratio for material entering surface som2"
                                      type: integer
                                  varat21_3_3:
                                      description: "amount S present when minimum ratio applies"
                                      type: integer
                                  varat22_1_1:
                                      description: "maximum C/N ratio for material entering soil som2"
                                      type: integer
                                  varat22_2_1:
                                      description: "minimum C/N ratio for material entering soil som2"
                                      type: integer
                                  varat22_3_1:
                                      description: "amount N present when minimum ratio applies"
                                      type: integer
                                  varat22_1_2:
                                      description: "maximum C/P ratio for material entering soil som2"
                                      type: integer
                                  varat22_2_2:
                                      description: "minimum C/P ratio for material entering soil som2"
                                      type: integer
                                  varat22_3_2:
                                      description: "amount P present when minimum ratio applies"
                                      type: integer
                                  varat22_1_3:
                                      description: "maximum C/S ratio for material entering soil som2"
                                      type: integer
                                  varat22_2_3:
                                      description: "minimum C/S ratio for material entering soil som2"
                                      type: integer
                                  varat22_3_3:
                                      description: "amount S present when minimum ratio applies"
                                      type: integer
                                  varat3_1_1:
                                      description: "maximum C/N ratio for material entering som3"
                                      type: integer
                                  varat3_2_1:
                                      description: "minimum C/N ratio for material entering som3"
                                      type: integer
                                  varat3_3_1:
                                      description: "amount N present when minimum ratio applies"
                                      type: integer
                                  varat3_1_2:
                                      description: "maximum C/P ratio for material entering som3"
                                      type: integer
                                  varat3_2_2:
                                      description: "minimum C/P ratio for material entering som3"
                                      type: integer
                                  varat3_3_2:
                                      description: "amount P present when minimum ratio applies"
                                      type: integer
                                  varat3_1_3:
                                      description: "maximum C/S ratio for material entering som3"
                                      type: integer
                                  varat3_2_3:
                                      description: "minimum C/S ratio for material entering som3"
                                      type: integer
                                  varat3_3_3:
                                      description: "amount S present when minimum ratio applies"
                                      type: integer
                                  vlosse:
                                      description: "fraction per year of excess N i.e. N left in the soil after nutrient uptake by the plant which is volatilized"
                                      type: integer
                                  vlossg:
                                      description: "multiplier for equation to compute volatilization loss that occurs as a function of gross mineralization"
                                      type: integer
                                  xefcltef:
                                      description: "Duration of Cultivation Effect"
                                      type: integer
                                  maxcltef:
                                      description: "maximum cultivation effect"
                                      type: integer
                                  fldn2d:
                                      description: "FLooDed N2/N2O ratio Days 7"
                                      type: integer
                                  fln2or:
                                      description: "N2/N2O ratio for flooded state"
                                      type: integer
                                  co2ch4:
                                      description: "fraction of CO2 from soil respiration used to produce CH4"
                                      type: integer
                                  mxch4f:
                                      description: "MaXimum Fraction of CH4 production emitted by plants."
                                      type: integer
                                  frexud:
                                      description: "FRaction EXUDates root production fraction released as exudate"
                                      type: integer
                                  aeh:
                                      description: "differential coefficient Aeh"
                                      type: integer
                                  deh:
                                      description: "differential coefficient Deh"
                                      type: integer
                                  behfl:
                                      description: "lowerlimit value for Eh during flooding course"
                                      type: integer
                                  behdr:
                                      description: "upperlimit value of Eh during drainage course"
                                      type: integer
                                  methzr:
                                      description: "fraction CH4 emitted via bubbles when zero root biomass"
                                      type: integer
                                  mrtblm:
                                      description: "Root biomass that when exceeded starts to reduce CH4 bubble formation crops"
                                      type: integer
                          graz:
                              type: object
                              properties:
                                  flgrem:
                                      description: "fraction of live shoots removed by a grazing event"
                                      type: integer
                                  fdgrem:
                                      description: "fraction of standing dead removed by a grazing event"
                                      type: integer
                                  gfcret:
                                      description: "fraction of consumed C which is excreted in faeces and urine"
                                      type: integer
                                  gret_1:
                                      description: "fraction of consumed N which is excreted in faeces and urine should take into account N losses due to leaching or volatilization from the manure"
                                      type: integer
                                  gret_2:
                                      description: "fraction of consumed P which is excreted in faeces and urine should take into account P losses due to leaching or volatilization from the manure"
                                      type: integer
                                  gret_3:
                                      description: "fraction of consumed S which is excreted in faeces and urine should take into account S losses due to leaching or volatilization from the manure"
                                      type: integer
                                  grzeff:
                                      description: "effect of grazing on production = 0 grazing has no direct effect on production = 1 linear impact on agp = 2 quadratic impact on agp and root/shoot ratio = 3 quadratic impact on root/shoot ratio = 4 linear impact on root/shoot ratio = 5 quadratic impact on agp and linear impact on root/shoot ratio = 6 linear impact on agb and root/shoot ratio"
                                      type: integer
                                  fecf_1:
                                      description: "fraction of excreted N which goes into faeces rest goes into urine"
                                      type: integer
                                  fecf_2:
                                      description: "fraction of excreted P which goes into faeces rest goes into urine"
                                      type: integer
                                  fecf_3:
                                      description: "fraction of excreted S which goes into faeces rest goes into urine"
                                      type: integer
                                  feclig:
                                      description: "lignin content of faeces"
                                      type: integer
                          harv:
                              type: object
                              properties:
                                  aglrem:
                                      description: "fraction of aboveground live which will not be affected by harvest operations"
                                      type: integer
                                  bglrem:
                                      description: "fraction of belowground live which will not be affected by harvest operations"
                                      type: integer
                                  flghrv:
                                      description: "flag indicating if grain is to be harvested = 0 if the grain is not to be harvested = 1 if the grain is to be harvested"
                                      type: integer
                                  rmvstr:
                                      description: "fraction of the aboveground residue that will be removed"
                                      type: integer
                                  remwsd:
                                      description: "fraction of the remaining residue that will be left standing"
                                      type: integer
                                  hibg:
                                      description: "fraction of roots that will be harvested"
                                      type: integer
                          irri:
                              type: object
                              properties:
                                  auirri:
                                      description: "controls application of automatic irrigation = 0 automatic irrigation is off = 1 irrigate to field capacity = 2 irrigate with a specified amount of water applied = 3 irrigate to field capacity plus PET = 1 or 2 = 2 cm"
                                      type: integer
                                  fawhc:
                                      description: "fraction of available water holding capacity below which automatic irrigation will be used when auirri = 1 or 2"
                                      type: integer
                                  irraut:
                                      description: "amount of water to apply automatically when auirri = 2 cm"
                                      type: integer
                                  irramt:
                                      description: "amount of water to apply regardless of soil water status cm"
                                      type: integer
                          omad:
                              type: object
                              properties:
                                  astgc:
                                      description: "grams of C added with the addition of organic matter g/m2"
                                      type: integer
                                  astlbl:
                                      description: "fraction of added C which is labeled, when C is added as a result of the addition of organic matter"
                                      type: integer
                                  astlig:
                                      description: "lignin fraction content of organic matter"
                                      type: integer
                                  astrec_1:
                                      description: "C/N ratio of added organic matter"
                                      type: integer
                                  astrec_2:
                                      description: "C/P ratio of added organic matter"
                                      type: integer
                                  astrec_3:
                                      description: "C/S ratio of added organic matter"
                                      type: integer
                          site:
                              type: object
                              properties:
                                  precip_1:
                                      description: "precipitation for January cm/month 0 precipitation for October cm/month 1 precipitation for November cm/month 2 precipitation for December cm/month"
                                      type: integer
                                  precip_2:
                                      description: "precipitation for February cm/month"
                                      type: integer
                                  precip_3:
                                      description: "precipitation for March cm/month"
[...]
